<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="USERPConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.213;Database=LionGroupSERP;Uid=LionGroupSERPdbo;Pwd=LionGroupSERPdboPWD;" />
        <add name="UERPConnection" connectionString="data source=DBA-UERP;initial catalog=erp;user id=erp;password=erp;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
        <add name="ERPConnection" connectionString="data source=DBA-ERP;initial catalog=erp;user id=lioniterp;password=iterp@2kmxm;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
      <appSettings>
      <add key="ERPDBEnvironment" value="" />
    </appSettings>
</configuration>